<!DOCTYPE html>
<html>
<head>
    <title>Servidor Node.js</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1><%= message %></h1>
    <a href="/productos">Ver productos</a>
    <a href="/productos/nuevo">Agregar producto</a>
</body>
</html>
