<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Lista de productos</h1>
    <ul>
        <% for (const producto of productos) { %>
        <li>
            <a href="/productos/<%= producto.id %>"><%= producto.nombre %></a> - <%= producto.precio %>
        </li>
        <% } %>
    </ul>
    <a href="/">Volver al inicio</a>
</body>
</html>
