<!DOCTYPE html>
<html>
<head>
    <title><%= producto.nombre %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 class="color">Detalles del Producto</h1>
        <div>
            <p><strong>Nombre:</strong> <%= producto.nombre %></p>
            <p><strong>Precio:</strong> <%= producto.precio %></p>
        </div>
        <a href="/productos">Volver a la lista de productos</a>
    </div>
</body>
</html>
